body {
    position:relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
button {
    margin-left: 1%;
    margin-top: 1%;
    font-size: 15px;
    border-color: rgb(0, 0, 0);

}
#addtask {
    margin-left: 0%;
    margin-top: 0%;
    font-size: 13px;
    border-color: rgb(180, 180, 180);
}

p {
    display: inline;
    margin: 0.25%;
}

@media (max-width: 266px) {
    body {
        display: block;
        overflow:auto;
    }
}

.oma {
    font-size: 10px;
}

h2 {
    margin-top: 3%;
    opacity: 0%;
}


#donetasks * {
    display: block;
}

#cleardone {
    opacity: 0%;
}